<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFti_i6ibtvBS3BmXGqEmoRQ2YyV7bOrc</string>
	<key>GCM_SENDER_ID</key>
	<string>639858200492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileSensors</string>
	<key>PROJECT_ID</key>
	<string>iot-devicesensor</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-devicesensor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639858200492:ios:2bd38aa9195369cefbf409</string>
</dict>
</plist>